.container-app {
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-app div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button {
  height: fit-content;
  width: fit-content;
}
